* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container {
  /* height:50vh; */
  width: 35rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #a3a8f0;
  box-shadow: 0 0 20px 0 #999;
  border-radius: 10px;
  margin-top: 9rem;
}

.input-field {
  width: 190px;
  height: 2.3rem;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 20px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
}
.button {
  width: 6rem;
  height: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  text-align: center;
}
.error {
  color: red;
  font-size: 1rem;
}
.textsizing {
  color: white;
  margin-top: 10px;
}
@media screen and (max-width: 500px) {
  .form-container {
    width: 95vw;
  }
}
